<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Just a simple blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  
</head>
<body>
  <div class="container">

